# Project exclude paths
/cmake-build-debug/
/cmake-build-debug-visual-studio/
/cmake-build-release/
/cmake-build-release-visual-studio/
/latex/
/latex_new/
/documentation/auxil/
/documentation/out/BFMM_Docs.synctex.gz
